<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myMasrafLabel">Create or edit a Masraf</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!masraf.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="masraf.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_kod">Kod</label>
            <input type="text" class="form-control" name="kod" id="field_kod"
                [(ngModel)]="masraf.kod" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_masrafTarihi">Masraf Tarihi</label>
            <div class="input-group">
                <input id="field_masrafTarihi" type="text" class="form-control" name="masrafTarihi" ngbDatepicker  #masrafTarihiDp="ngbDatepicker" [(ngModel)]="masraf.masrafTarihi"
                />
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="masrafTarihiDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_orjinalMasrafTutari">Orjinal Masraf Tutari</label>
            <input type="number" class="form-control" name="orjinalMasrafTutari" id="field_orjinalMasrafTutari"
                [(ngModel)]="masraf.orjinalMasrafTutari" />
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_dosya">Dosya</label>
            <select class="form-control" id="field_dosya" name="dosya" [(ngModel)]="masraf.dosya" >
                <option [ngValue]="null"></option>
                <option [ngValue]="dosyaOption.id === masraf.dosya?.id ? masraf.dosya : dosyaOption" *ngFor="let dosyaOption of dosyas; trackBy: trackDosyaById">{{dosyaOption.kod}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_masrafTipi">Masraf Tipi</label>
            <select class="form-control" id="field_masrafTipi" name="masrafTipi" [(ngModel)]="masraf.masrafTipi" >
                <option [ngValue]="null"></option>
                <option [ngValue]="masrafTipiOption.id === masraf.masrafTipi?.id ? masraf.masrafTipi : masrafTipiOption" *ngFor="let masrafTipiOption of masraftipis; trackBy: trackMasrafTipiById">{{masrafTipiOption.kod}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
