<div>
    <h2>
        <span>Masrafs</span>
        <button class="btn btn-primary float-right jh-create-entity create-masraf" [routerLink]="['/', { outlets: { popup: ['masraf-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down" >
            Create new Masraf
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="form-group">
        <label class="form-control-label" for="field_dosya">Dosya</label>
        <select class="form-control" id="field_dosya" name="dosya" [(ngModel)]="comboSelModel.comboSel" (change)="onChange($event)">
            <option [ngValue]="null"></option>
            <option [ngValue]="selectedOption" *ngFor="let selectedOption of comboSelModel.comboList; trackBy: trackDosyaById">{{selectedOption.kod}}</option>
        </select>
    </div>

    <br/>
    <div class="table-responsive" *ngIf="masrafs">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="kod"><span>Kod</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="masrafTarihi"><span>Masraf Tarihi</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="orjinalMasrafTutari"><span>Orjinal Masraf Tutari</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="dosya.kod"><span>Dosya</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="masrafTipi.kod"><span>Masraf Tipi</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let masraf of masrafs ;trackBy: trackId">
                <td><a [routerLink]="['../masraf', masraf.id ]">{{masraf.id}}</a></td>
                <td>{{masraf.kod}}</td>
                <td>{{masraf.masrafTarihi | date:'mediumDate'}}</td>
                <td>{{masraf.orjinalMasrafTutari}}</td>
                <td>
                    <div *ngIf="masraf.dosya">
                        <a [routerLink]="['../dosya', masraf.dosya?.id ]" >{{masraf.dosya?.kod}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="masraf.masrafTipi">
                        <a [routerLink]="['../masraf-tipi', masraf.masrafTipi?.id ]" >{{masraf.masrafTipi?.kod}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../masraf', masraf.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'masraf/'+ masraf.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'masraf/'+ masraf.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="masrafs && masrafs.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
