<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myPerSubmitLabel">Create or edit a Per Submit</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!perSubmit.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="perSubmit.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_submitDate">Submit Date</label>
            <div class="input-group">
                <input id="field_submitDate" type="text" class="form-control" name="submitDate" ngbDatepicker  #submitDateDp="ngbDatepicker" [(ngModel)]="perSubmit.submitDate"
                required/>
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="submitDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <div [hidden]="!(editForm.controls.submitDate?.dirty && editForm.controls.submitDate?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.submitDate?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_dersGrup">Ders Grup</label>
            <select class="form-control" name="dersGrup" [(ngModel)]="perSubmit.dersGrup" id="field_dersGrup"  required>
                <option value="D_GS">D_GS</option>
                <option value="GG">GG</option>
                <option value="GY">GY</option>
            </select>
            <div [hidden]="!(editForm.controls.dersGrup?.dirty && editForm.controls.dersGrup?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.dersGrup?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_dersSira">Ders Sira</label>
            <input type="number" class="form-control" name="dersSira" id="field_dersSira"
                [(ngModel)]="perSubmit.dersSira" required max="15"/>
            <div [hidden]="!(editForm.controls.dersSira?.dirty && editForm.controls.dersSira?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.dersSira?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.dersSira?.errors?.max">
                    This field cannot be more than 15.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.dersSira?.errors?.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_dersAdet">Ders Adet</label>
            <input type="number" class="form-control" name="dersAdet" id="field_dersAdet"
                [(ngModel)]="perSubmit.dersAdet" required max="15"/>
            <div [hidden]="!(editForm.controls.dersAdet?.dirty && editForm.controls.dersAdet?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.dersAdet?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.dersAdet?.errors?.max">
                    This field cannot be more than 15.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.dersAdet?.errors?.number">
                    This field should be a number.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_person">Person</label>
            <select class="form-control" id="field_person" name="person" [(ngModel)]="perSubmit.person"  required>
                <option *ngIf="!editForm.value.person" [ngValue]="null" selected></option>
                <option [ngValue]="perPersonOption.id === perSubmit.person?.id ? perSubmit.person : perPersonOption" *ngFor="let perPersonOption of perpeople; trackBy: trackPerPersonById">{{perPersonOption.code}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.person?.dirty && editForm.controls.person?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.person?.errors?.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_ders">Ders</label>
            <select class="form-control" id="field_ders" name="ders" [(ngModel)]="perSubmit.ders"  required>
                <option *ngIf="!editForm.value.ders" [ngValue]="null" selected></option>
                <option [ngValue]="defItemOption.id === perSubmit.ders?.id ? perSubmit.ders : defItemOption" *ngFor="let defItemOption of defitems; trackBy: trackDefItemById">{{defItemOption.code}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.ders?.dirty && editForm.controls.ders?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.ders?.errors?.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_excuse">Excuse</label>
            <select class="form-control" id="field_excuse" name="excuse" [(ngModel)]="perSubmit.excuse" >
                <option [ngValue]="null"></option>
                <option [ngValue]="perExcuseOption.id === perSubmit.excuse?.id ? perSubmit.excuse : perExcuseOption" *ngFor="let perExcuseOption of perexcuses; trackBy: trackPerExcuseById">{{perExcuseOption.code}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
