<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myDefAnswerLabel">Create or edit a Def Answer</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!defAnswer.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="defAnswer.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_answer">Answer</label>
            <input type="text" class="form-control" name="answer" id="field_answer"
                [(ngModel)]="defAnswer.answer" maxlength="20"/>
            <div [hidden]="!(editForm.controls.answer?.dirty && editForm.controls.answer?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.answer?.errors?.maxlength">
                   This field cannot be longer than 20 characters.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_relation">Relation</label>
            <select class="form-control" id="field_relation" name="relation" [(ngModel)]="defAnswer.relation"  required>
                <option *ngIf="!editForm.value.relation" [ngValue]="null" selected></option>
                <option [ngValue]="defRelationOption.id === defAnswer.relation?.id ? defAnswer.relation : defRelationOption" *ngFor="let defRelationOption of defrelations; trackBy: trackDefRelationById">{{defRelationOption.code}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.relation?.dirty && editForm.controls.relation?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.relation?.errors?.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_itemSource">Item Source</label>
            <select class="form-control" id="field_itemSource" name="itemSource" [(ngModel)]="defAnswer.itemSource"  required>
                <option *ngIf="!editForm.value.itemSource" [ngValue]="null" selected></option>
                <option [ngValue]="defItemOption.id === defAnswer.itemSource?.id ? defAnswer.itemSource : defItemOption" *ngFor="let defItemOption of defitems; trackBy: trackDefItemById">{{defItemOption.code}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.itemSource?.dirty && editForm.controls.itemSource?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.itemSource?.errors?.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_itemTarget">Item Target</label>
            <select class="form-control" id="field_itemTarget" name="itemTarget" [(ngModel)]="defAnswer.itemTarget" >
                <option [ngValue]="null"></option>
                <option [ngValue]="defItemOption.id === defAnswer.itemTarget?.id ? defAnswer.itemTarget : defItemOption" *ngFor="let defItemOption of defitems; trackBy: trackDefItemById">{{defItemOption.code}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
