<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myDefRelationLabel">Create or edit a Def Relation</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!defRelation.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="defRelation.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_parameter">Parameter</label>
            <select class="form-control" name="parameter" [(ngModel)]="defRelation.parameter" id="field_parameter" >
                <option value="GORV_MA_KAR">GORV_MA_KAR</option>
                <option value="GORV_EK_ZOR">GORV_EK_ZOR</option>
                <option value="GORV_EK_IST">GORV_EK_IST</option>
                <option value="DERS_MA_KAR">DERS_MA_KAR</option>
                <option value="DERS_EK_ZOR">DERS_EK_ZOR</option>
                <option value="DERS_EK_IST">DERS_EK_IST</option>
                <option value="KATSAYI">KATSAYI</option>
                <option value="DAYANAK_GOR">DAYANAK_GOR</option>
                <option value="DAYANAK_UNV">DAYANAK_UNV</option>
                <option value="GOSTERGE_GOR">GOSTERGE_GOR</option>
                <option value="TARIFE_GOR">TARIFE_GOR</option>
            </select>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_typeSource">Type Source</label>
            <select class="form-control" id="field_typeSource" name="typeSource" [(ngModel)]="defRelation.typeSource"  required>
                <option *ngIf="!editForm.value.typeSource" [ngValue]="null" selected></option>
                <option [ngValue]="defTypeOption.id === defRelation.typeSource?.id ? defRelation.typeSource : defTypeOption" *ngFor="let defTypeOption of deftypes; trackBy: trackDefTypeById">{{defTypeOption.code}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.typeSource?.dirty && editForm.controls.typeSource?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.typeSource?.errors?.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_typeTarget">Type Target</label>
            <select class="form-control" id="field_typeTarget" name="typeTarget" [(ngModel)]="defRelation.typeTarget" >
                <option [ngValue]="null"></option>
                <option [ngValue]="defTypeOption.id === defRelation.typeTarget?.id ? defRelation.typeTarget : defTypeOption" *ngFor="let defTypeOption of deftypes; trackBy: trackDefTypeById">{{defTypeOption.code}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
