
<div *ngIf="hopDosya">
    <h2><span>Hop Dosya</span> {{hopDosya.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Kod</span></dt>
        <dd>
            <span>{{hopDosya.kod}}</span>
        </dd>
        <dt><span>Dosya Tipi</span></dt>
        <dd>
            <span>{{hopDosya.dosyaTipi}}</span>
        </dd>
        <dt><span>Klasor</span></dt>
        <dd>
            <div *ngIf="hopDosya.klasor">
                <a [routerLink]="['/hop-dosya', hopDosya.klasor?.id]">{{hopDosya.klasor?.kod}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'hop-dosya/'+ hopDosya.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
