<div>
    <h2>
        <span>Per Companies</span>
        <button class="btn btn-primary float-right jh-create-entity create-per-company" [routerLink]="['/', { outlets: { popup: ['per-company-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down" >
            Create new Per Company
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="perCompanies">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Code</span></th>
            <th><span>Name</span></th>
            <th><span>Mesai Oo</span></th>
            <th><span>Mesai Os</span></th>
            <th><span>Mesai Gc</span></th>
            <th><span>Sehir</span></th>
            <th><span>Tipi</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let perCompany of perCompanies ;trackBy: trackId">
                <td><a [routerLink]="['../per-company', perCompany.id ]">{{perCompany.id}}</a></td>
                <td>{{perCompany.code}}</td>
                <td>{{perCompany.name}}</td>
                <td>{{perCompany.mesaiOo}}</td>
                <td>{{perCompany.mesaiOs}}</td>
                <td>{{perCompany.mesaiGc}}</td>
                <td>
                    <div *ngIf="perCompany.sehir">
                        <a [routerLink]="['../def-item', perCompany.sehir?.id ]" >{{perCompany.sehir?.code}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="perCompany.tipi">
                        <a [routerLink]="['../def-item', perCompany.tipi?.id ]" >{{perCompany.tipi?.code}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../per-company', perCompany.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'per-company/'+ perCompany.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'per-company/'+ perCompany.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
