<div>
    <h2>
        <span>Finansal Harekets</span>
        <button class="btn btn-primary float-right jh-create-entity create-finansal-hareket" [routerLink]="['/', { outlets: { popup: ['finansal-hareket-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down" >
            Create new Finansal Hareket
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="form-group">
        <label class="form-control-label" for="field_dosya">Dosya</label>
        <select class="form-control" id="field_dosya" name="dosya" [(ngModel)]="comboSelModel.comboSel" (change)="onChange($event)">
            <option [ngValue]="null"></option>
            <option [ngValue]="selectedOption" *ngFor="let selectedOption of comboSelModel.comboList; trackBy: trackDosyaById">{{selectedOption.kod}}</option>
        </select>
    </div>

    <br/>
    <div class="table-responsive" *ngIf="finansalHarekets">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="kod"><span>Kod</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="islemKabulTarihi"><span>Islem Kabul Tarihi</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="islemTutari"><span>Islem Tutari</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="aciklama"><span>Aciklama</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="dosya.kod"><span>Dosya</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="islemKodu.kod"><span>Islem Kodu</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="klasorFh.kod"><span>Klasor Fh</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="finansalHareket.kod"><span>Finansal Hareket</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let finansalHareket of finansalHarekets ;trackBy: trackId">
                <td><a [routerLink]="['../finansal-hareket', finansalHareket.id ]">{{finansalHareket.id}}</a></td>
                <td>{{finansalHareket.kod}}</td>
                <td>{{finansalHareket.islemKabulTarihi | date:'mediumDate'}}</td>
                <td>{{finansalHareket.islemTutari}}</td>
                <td>{{finansalHareket.aciklama}}</td>
                <td>
                    <div *ngIf="finansalHareket.dosya">
                        <a [routerLink]="['../dosya', finansalHareket.dosya?.id ]" >{{finansalHareket.dosya?.kod}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="finansalHareket.islemKodu">
                        <a [routerLink]="['../islem-kodu', finansalHareket.islemKodu?.id ]" >{{finansalHareket.islemKodu?.kod}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="finansalHareket.klasorFh">
                        <a [routerLink]="['../finansal-hareket', finansalHareket.klasorFh?.id ]" >{{finansalHareket.klasorFh?.kod}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="finansalHareket.finansalHareket">
                        <a [routerLink]="['../finansal-hareket', finansalHareket.finansalHareket?.id ]" >{{finansalHareket.finansalHareket?.kod}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../finansal-hareket', finansalHareket.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'finansal-hareket/'+ finansalHareket.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'finansal-hareket/'+ finansalHareket.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="finansalHarekets && finansalHarekets.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
