<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myDefPivotLabel">Create or edit a Def Pivot</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!defPivot.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="defPivot.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_code">Code</label>
            <input type="text" class="form-control" name="code" id="field_code"
                [(ngModel)]="defPivot.code" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_pvtSql">Pvt Sql</label>
            <textarea class="form-control" name="pvtSql" id="field_pvtSql"
                [(ngModel)]="defPivot.pvtSql" ></textarea>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_pvtVal">Pvt Val</label>
            <input type="text" class="form-control" name="pvtVal" id="field_pvtVal"
                [(ngModel)]="defPivot.pvtVal" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_pvtCol">Pvt Col</label>
            <input type="text" class="form-control" name="pvtCol" id="field_pvtCol"
                [(ngModel)]="defPivot.pvtCol" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_pvtRow">Pvt Row</label>
            <input type="text" class="form-control" name="pvtRow" id="field_pvtRow"
                [(ngModel)]="defPivot.pvtRow" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
