<div>
    <h2>
        <span>Def Answers</span>
        <button class="btn btn-primary float-right jh-create-entity create-def-answer" [routerLink]="['/', { outlets: { popup: ['def-answer-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down" >
            Create new Def Answer
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="defAnswers">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Answer</span></th>
            <th><span>Relation</span></th>
            <th><span>Item Source</span></th>
            <th><span>Item Target</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let defAnswer of defAnswers ;trackBy: trackId">
                <td><a [routerLink]="['../def-answer', defAnswer.id ]">{{defAnswer.id}}</a></td>
                <td>{{defAnswer.answer}}</td>
                <td>
                    <div *ngIf="defAnswer.relation">
                        <a [routerLink]="['../def-relation', defAnswer.relation?.id ]" >{{defAnswer.relation?.code}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="defAnswer.itemSource">
                        <a [routerLink]="['../def-item', defAnswer.itemSource?.id ]" >{{defAnswer.itemSource?.code}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="defAnswer.itemTarget">
                        <a [routerLink]="['../def-item', defAnswer.itemTarget?.id ]" >{{defAnswer.itemTarget?.code}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../def-answer', defAnswer.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'def-answer/'+ defAnswer.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'def-answer/'+ defAnswer.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
