
<div *ngIf="perPerson">
    <h2><span>Per Person</span> {{perPerson.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Code</span></dt>
        <dd>
            <span>{{perPerson.code}}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
            <span>{{perPerson.name}}</span>
        </dd>
        <dt><span>Is Active</span></dt>
        <dd>
            <span>{{perPerson.isActive}}</span>
        </dd>
        <dt><span>Sozlesme</span></dt>
        <dd>
            <span>{{perPerson.sozlesme}}</span>
        </dd>
        <dt><span>Email</span></dt>
        <dd>
            <span>{{perPerson.email}}</span>
        </dd>
        <dt><span>Phone</span></dt>
        <dd>
            <span>{{perPerson.phone}}</span>
        </dd>
        <dt><span>Cins</span></dt>
        <dd>
            <span>{{perPerson.cins}}</span>
        </dd>
        <dt><span>Medeni</span></dt>
        <dd>
            <span>{{perPerson.medeni}}</span>
        </dd>
        <dt><span>Okul</span></dt>
        <dd>
            <div *ngIf="perPerson.okul">
                <a [routerLink]="['/per-company', perPerson.okul?.id]">{{perPerson.okul?.code}}</a>
            </div>
        </dd>
        <dt><span>Hizmt</span></dt>
        <dd>
            <div *ngIf="perPerson.hizmt">
                <a [routerLink]="['/def-item', perPerson.hizmt?.id]">{{perPerson.hizmt?.code}}</a>
            </div>
        </dd>
        <dt><span>Brans</span></dt>
        <dd>
            <div *ngIf="perPerson.brans">
                <a [routerLink]="['/def-item', perPerson.brans?.id]">{{perPerson.brans?.code}}</a>
            </div>
        </dd>
        <dt><span>Unvan</span></dt>
        <dd>
            <div *ngIf="perPerson.unvan">
                <a [routerLink]="['/def-item', perPerson.unvan?.id]">{{perPerson.unvan?.code}}</a>
            </div>
        </dd>
        <dt><span>Kadro</span></dt>
        <dd>
            <div *ngIf="perPerson.kadro">
                <a [routerLink]="['/def-item', perPerson.kadro?.id]">{{perPerson.kadro?.code}}</a>
            </div>
        </dd>
        <dt><span>Karyr</span></dt>
        <dd>
            <div *ngIf="perPerson.karyr">
                <a [routerLink]="['/def-item', perPerson.karyr?.id]">{{perPerson.karyr?.code}}</a>
            </div>
        </dd>
        <dt><span>Konum</span></dt>
        <dd>
            <div *ngIf="perPerson.konum">
                <a [routerLink]="['/def-item', perPerson.konum?.id]">{{perPerson.konum?.code}}</a>
            </div>
        </dd>
        <dt><span>User</span></dt>
        <dd>
            {{perPerson.user?.login}}
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'per-person/'+ perPerson.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
